:root{
    --text-color:#444;
    --text-color-black:#222;
    --background-color:#fff;
    --background-color-grey:#ddd;
    --background-rgb:rgba(157, 157, 157, 0.2);
    --background-rgb-hover:rgba(157, 157, 157, 0.3);
    --background-rgb-black:rgba(0, 0, 0, 0.1);
    --border-line:#ccc;
    --border-line-bottom:rgba(170, 170, 170, 0.5);
}

:root[data-theme='dark']{
    --text-color:#f5f5f5;
    --text-color-black:#e4e4e4;
    --background-color:#181a1b;
    --background-color-grey:#535353;
    --background-rgb:rgba(0, 0, 0, 0.2);
    --background-rgb-hover:rgba(0, 0, 0, 0.3);
    --background-rgb-black:rgba(255, 255, 255, 0.1);
    --border-line:#424242;
    --border-line-bottom:rgba(239, 239, 239, 0.5);
}
body{
    color: var(--text-color);
    background-color:var(--background-color);
}
