.header{
    z-index:1;
    position:fixed;
    top:0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    height:56px;
    padding:0 16px;
    gap:16px;
    background:var(--background-color);
}
.header img{
    width:100%
}
.header .logo{
    width:90px;
    height:20px;
    margin-left:20px;
}
.header *{
    flex-shrink: 0;
}
.i-allmenu{
    width:24px;
    height:24px;
    margin-left:10px;
}
.i-search{
    display:block;
    width:20px;
    height:20px;
    background:url('./assets/search.svg') no-repeat 0 0 / 20px auto;
}
.searchmain{
    display:flex;
    flex:1;
    justify-content: center;
}
.searchbox{
    display:flex;
    justify-content:space-between;
    width:592px;
    height:40px;
    border:1px solid var(--border-line);
    border-radius:20px;
}
.searchinput{
    flex:1;
    border:0;
    height:100%;
    border-radius:20px 0 0 20px;
    padding:0 20px;
    background-color:var(--background-color);
    color:var(--text-color);
}
.btn-search{
    display:flex;
    justify-content:center;
    align-items:center;
    width:64px;
    height:40px;
    background-color:var(--background-rgb);
    border-radius:0 20px 20px 0;
    border-left:1px solid var(--border-line);
    transition: background-color 0.2s;
}
.btn-search:hover{
    background-color:var(--background-rgb-hover);
}
.i-plus{
    display:block;
    width:30px;
    height:30px;
    background: linear-gradient(#444 0 0), linear-gradient(#444 0 0);
    background-position: center;
    background-size: 40% 1px, 1px 40%;
    background-repeat: no-repeat;
}
.btn-noti{
    width:36px;
    height:36px;
    border-radius:100%;
    transition: background-color 0.2s;
}
.btn-noti:hover,
.btn-videomake:hover{
    background-color:rgba(157,157,157,0.3)
}
.i-noti{
    display:block;
    width:24px;
    height:24px;
    margin:0 auto;
    background-image:url('./assets/notifications.svg');
    background-position:center;
    background-size:24px;
    background-repeat:no-repeat;
}
.btn-videomake{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:0 14px 0 10px;
    height:36px;
    line-height:36px;
    border-radius:20px;
    font-size:14px;
    color:var(--text-color);
    background-color:rgba(157,157,157,0.2);
    transition: background-color 0.2s;
}
.btn-videomake .i-plus{
    margin:0 -4px;
}
.btn-myprofile{
    width:36px;
    height:36px;
    border-radius:100%;
    overflow:hidden;
}
.btn-myprofile img{
    width:100%;
    object-fit: cover;
}
[data-theme='dark'] [class*='i-']{
    filter:invert();
}