.video-box{
    flex-basis: 340px;
    flex-grow: 1;
    color:#f0f0f0;
    cursor:pointer;
}
.video-thum{
    position:relative;
    border-radius:12px;
    overflow: hidden;
}
.video-thum img{
    width:100%;
    height:100%;
}
.video-info{
    display:flex;
    gap:10px;
    margin:10px 0 20px;
}
.video-info .video-profile{
    width:36px;
    height:36px;
    min-width:36px;
    border-radius:100%;
    overflow:hidden;
}
.video-info .video-text .text-type1{
    display:-webkit-box;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
}
.video-time{
    z-index:1;
    position:absolute;
    bottom:10px;
    right:10px;
    background:rgba(0,0,0,0.4);
    color:#fff;
    padding:4px;
    border-radius:4px;
    font-size:12px;
    text-align:center;
}